body {
  background-color: lightskyblue;

}

.App {
  text-align: center;
}

form.todo-form {
  border: solid black;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: beige;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  margin: 0 auto;
  justify-content: space-evenly;
  border-radius: 6px;
  margin-bottom: 20px;
}

.input-group {
  justify-content: space-between;
}

.todo-list {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-inline-start: 0;
}

.todo-item {
  background-color: whitesmoke;
  width: 200px;
  height: max-content;
  box-shadow: 0 20px 20px -10px rgb(30, 127, 187);
  text-align: center;
  border-radius: 6px;
}

.delete-button {
  background-color: rgb(199, 34, 34);
  color: whitesmoke;
  font-weight: bold;
}

.edit-button {
  background-color: rgb(34, 199, 42);
  color: black;
  font-weight: bold;
}

.submit-button {
  background-color: yellow; 
  color: black;
  font-weight: bold;
}

.close-button {
  background-color: black; 
  color: whitesmoke;
  font-weight: bold;
  width: 25%;
  justify-content: center;
}